.App {
  text-align: center;
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.postBox, .listItem{
  width: 70%;
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.postBox button{
  width: 100px;
  cursor: pointer;
}

.postBox textarea{
  flex-basis: 70%;
}

.listItem{
  margin-bottom: 10px;
  height: 40px;
}

.listText{
  flex-basis: 70%;
  line-height: 40px;
  font-size: 30px;
}

.listItem button{
  width: 100px;
  height: 30px;
  cursor: pointer;
  margin-top: 5px;
}

.App > div.listItem:nth-of-type(odd) {
  background: darkturquoise;
  color: white;
  font-weight: 600;
}

.App > div.listItem:nth-of-type(even) {
  background: bisque;
  color: black;
  font-weight: 600;
}