body {
  margin: 0;
  padding: 0;
  font-family: monospace;
}

.container-fluid.header {
  display: block;
  height: 10vh;
  background-color: turquoise;
  color: navy;
  font-size: 20px
}

#editor, #preview{
  height: 90vh;
}

#preview, textarea {
  font-family: monospace;
  font-size: 20px;
  margin: 0;
  padding: 10px;
  color: #222;
  word-wrap: break-word;
  /* https://stackoverflow.com/questions/248011/how-do-i-wrap-text-in-a-pre-tag */
  white-space: pre-wrap;
}

textarea:focus {outline: 0;}

#preview{
  border: 1px solid gray;
  overflow: scroll;
}

textarea{
  font-size: 12px;
}

.vertical-center{
  display:flex;
  justify-content:center;
  align-items:center;
}
