body, html{
    height: 100%;
    color: white;
    font-size: 30px;
    text-align: center;
    font-family: 'Righteous';
}

#root{
  height:100vh;
  background-color: lightcoral;
  display: flex;
  justify-content: center;
  align-items: center;
}

#clkWrapper{
  width: 500px;
  background-color: mediumslateblue;
}

#clkDisplay{
  border: 7px solid #13353a;
  margin: 20px auto 10px auto;
  width: 270px;
  height: 160px;
  border-radius: 50px;
}
#clkValueWrapper{
  font-family: digital;
  font-size: 80px;
  margin-left: 15px;
  margin-top: -15px;
}

.clkHeader{
  font-size: 50px;
}

.arrowsBtn, #start_stop, #reset{
  background: none;
  outline: none;
  border: none;
  color: white;
  cursor: pointer;
}

#start_stop{
  margin-right: 50px;
}

button.arrowsBtn:focus{
  outline: none;
}

.settingValue{
  display: inline-block;
  margin: 0 20px;
}
