body, html{
    height: 100%;
    margin: 0px;
}

a{
  text-decoration: none;
  color: cornsilk;
}

#root{
  height:100vh;
  background-color: aliceblue;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
}

.container{
  width: 80%;
}

.header{
  height: 80px;
  padding: 20px;
  background-color: darkkhaki;
  color: cornsilk;
}

.streamSelectContainer{
  height: 120px;
  display: flex;
  justify-content: space-around;
  background: cornsilk;
  align-items: center;
}

.selector{
  height: 80px;
  width: 200px;
  background-color: darkred;
  text-align: center;
  line-height: 80px;
  color: white;
  font-size: 30px;
  cursor: pointer;
}

.selector.filterSelected{
  background-color: darkgreen;
}

.listContainer{
  padding: 40px;
  padding-top: 0px;
  background: cornsilk;
}

.listItem{
  background-color: darkkhaki;
  border: 1px solid black;
  padding: 10px;
  align-items: center;
  color: cornsilk;
}

.listItem.noDisplay{
  display: none;
}

.listItem.display{
  display: flex;
}

.listItem.online{
  background-color: darkgreen;
}

.listItem.offline{
  background-color: darkred;
}

.listItem img{
  max-width: 50px;
  max-height: 50px;
  border-radius: 50%;
  border: 3px solid #e1e1e6;
}

.listItem .logo{
  flex: 1;
  text-align: center;
}

.listItem .display_name{
  flex: 1;
}

.listItem .status{
  flex: 2;
}
