body, html{
  height: 100%;
  margin: 0px;
  background-color: aliceblue;
}

#root{
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
}

.container{
  width: 80%;
  overflow: scroll;
}

.heading{
  font-size: 50px;
  text-align: center;
  color: rgb(19, 41, 61);
}

.buttonContainer{
  display: flex;
  justify-content: space-evenly;
}

.buttonContainer button{
  font-size: 30px;
  border: none;
  background: rgb(19, 41, 61);
  margin-top: 15px;
  border-radius: 10px;
  padding: 12px;
  color: rgb(255, 241, 89);
  cursor: pointer;
}

.displayContainer{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 40px;
}

.displayContainer .listItem{
  width: 300px;
  height: 300px;
}

.displayContainer .listItem img{
  width: 80%;
  height: 80%;
}