.sidebar{
  flex-basis: 20%;
  margin: 40px;
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.sidebar img{
  width: 150px;
  height: 150px;
}

.sidebar .tags{
  border-top: 4px solid #f5f8fa;
  border-bottom: 4px solid #f5f8fa;
}

.sidebar .tag-elem{
  width: 100px;
  margin: 10px;
}

.filter button{
  width: 100px;
  margin: 10px;
}
