body, html{
    height: 100%;
}

#root{
  height:100vh;
  background-color: honeydew;
  display: flex;
  justify-content: center;
  align-items: center;
}

#calcMachine{
  width: 320px;
  border: 2px solid #47476b;
  background: black;
  /* default padding is 15px */
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 5px;
}

#display{
  height: 45px;
  color: antiquewhite;
}

#formulaScreen{
  min-height: 20px;
  font-family: digital;
  font-size: 20px;
  color: orange;
  text-align: right;
  vertical-align: text-top;
  line-height: 20px;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

.customBtn{
  height: 65px;
  font-size: 20px;
}
.customBtn button{
  background: #4d4d4d;
  border: none;
  outline: 1px solid black;
  color: white;
}

.equalContainer{
  height: 130px;
}
.equalContainer .row{
  height: 100%;
}

#clear{
  background: rgb(172, 57, 57);
  border-color: rgb(172, 57, 57);
}

#add, #subtract, #multiply, #divide{
  background: rgb(102, 102, 102);
}

#equals{
  background: rgb(0, 68, 102);
}

button:hover{
  color: black;
  outline: .05em solid grey;
  z-index: 3;
}
