body, html{
    background: url(https://wallpapercave.com/wp/HlVPZUT.jpg) no-repeat center center fixed;
    background-size: cover;
    height: 100%;
    overflow: hidden;
    margin: 0px;
}

#root{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
}

.container{
    width: 80%;
}
  