body, html{
    background: url(https://wallpapercave.com/wp/HlVPZUT.jpg) no-repeat center center fixed;
    background-size: cover;
    height: 100%;
    overflow: hidden;
    margin: 0px;
    text-align: center;
}

#root{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    color: rgb(80, 201, 206);
}

.container{
    width: 80%;
}

h1{
    font-size: 50px;
}

.currentSpaceCowboysContainer{
    font-size: 30px;
    margin-top: 30px;
    color: springgreen
}
  