body, html{
    height: 100%;
}

#root{
  height:100vh;
  background-color: honeydew;
  display: flex;
  justify-content: center;
  align-items: center;
}

#drum-machine{
  width: 660px;
  height: 300px;
  background-color: seashell;
}

#display{
  height: 20%;
  background-color: cadetblue;
}

#drumButtons{
  height: 80%;
}

.drum-pad{
  position: relative;
  right: 25px;
  float: left;
  height: 60px;
  border-radius: 5px;
  padding-top: 15px;
  box-sizing: border-box;
  cursor: pointer;
  background-color: grey;
  box-shadow: black 3px 3px 5px;
  margin-bottom: 20px;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
}
